// Blob Patterns Animation
// For Hero Section
@keyframes moveHeroBackgroundPattern {
  0% {
    background-position: top 262px left -222px, top 120px right -224px;
  }
  100% {
    background-position: top 200px left -200px, top 100px right -200px;
  }
}
@keyframes moveHeroBackgroundPatternMobile {
  0% {
    background-position: top 206px left -45px, top 95px right -65px;
  }
  100% {
    background-position: top 160px left -20px, top 60px right -40px;
  }
}

// For Explore Our Solution Section
@keyframes moveExploreSolutionPattern {
  0% {
    background-position: bottom 102px left 151px, top 210px right 96px;
  }
  100% {
    background-position: bottom 70px left 100px, top 140px right 70px;
  }
}
