html,
* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

// Custom Scrollbar
* {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary-blue;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($primary-orange, 0.6);
    border-radius: 2.5px;

    &:hover {
      background-color: rgba($primary-orange, 0.85);
    }
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;

  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &::before,
    &::after {
      display: none;
    }
  }

  img,
  video {
    max-width: 100%;
  }

  .hide {
    display: none;
    transition: $transition;
  }

  &.oveflow-hidden,
  .oveflow-hidden {
    overflow: hidden;
  }

  // Utilities
  .container {
    @include container;
  }
  // Margin utilites
  .auto-margin-side {
    display: block;
    @include auto-margin-side;
  }

  // Typography
  // Font weights
  .extra-light {
    font-weight: $extra-light;
  }
  .light {
    font-weight: $light;
  }
  .regular {
    font-weight: $regular;
  }
  .medium {
    font-weight: $medium;
  }
  .semi-bold {
    font-weight: $semi-bold;
  }
  .bold {
    font-weight: $bold;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }

  // Case
  .uppercase {
    text-transform: uppercase;
  }
  .lowercase {
    text-transform: lowercase;
  }
  .capitalize {
    text-transform: capitalize;
  }

  // Colors
  $colors: (
    "neutral": (
      1: #fdfdfd,
      2: #f4f4f4,
      3: #e5e8ea,
      4: #ccd0d4,
      5: #b2b9bf,
      6: #99a1a9,
      7: #808a94,
      8: #66737f,
      9: #4d5b69,
      10: #334454,
      11: #1a2c3e,
    ),
    "orange": (
      1: #e35400,
      2: #fd7c23,
      3: #fd8a3b,
      4: #fe9954,
      5: #fea76c,
      6: #feb684,
      7: #fec59d,
      8: #fed3b5,
      9: #ffe2ce,
    ),
    "blue": (
      1: #f1f6fb,
      2: #a1bdfa,
      3: #6291f7,
      4: #276ef0,
      5: #1332ae,
      6: #02006c,
    ),
  );

  // Loop through each color category and generate text color classes
  .text {
    @each $category, $shades in $colors {
      @each $shade, $color in $shades {
        &-#{$category}-#{$shade} {
          color: $color;
        }
      }
    }

    &-blue,
    &-primary-blue {
      color: $primary-blue;
    }
    &-orange,
    &-primary-orange {
      color: $primary-orange;
    }
  }
  .bg {
    @each $category, $shades in $colors {
      @each $shade, $color in $shades {
        &-#{$category}-#{$shade} {
          background-color: $color;
        }
      }
    }

    &-blue,
    &-primary-blue {
      background-color: $primary-blue;
    }
    &-orange,
    &-primary-orange {
      background-color: $primary-orange;
    }
  }

  // Class based spacing
  @include generate-spacing-classes("m", "margin");
  @include generate-spacing-classes("p", "padding");

  // Button & Button Group
  .btn-group {
    @include flex-wrap-gap(16px);
  }
  .agora-btn {
    @extend button;
    padding: 9.5px 16px;
    @include flex-center;
    gap: $spacing-sm;
    border-radius: $border-radius-sm;
    border: 1px solid $orange;
    color: $orange;
    background-color: transparent;

    transition: 150ms all ease-out;

    &:hover {
      background-color: $orange;
      color: $white;
    }

    span {
      font-size: inherit;
      line-height: inherit;
    }

    img,
    svg {
      width: 18px;
      height: 18px;
    }

    &.btn-filled {
      background-color: $orange;
      color: $white;

      &:hover {
        background-color: $orange-4;
      }
    }
  }
  .agora-action-btn {
    @extend .urbanist-regular-18;
    text-decoration: none;
    text-align: center;

    @include flex-center;
    gap: 10px;

    span {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
    img,
    svg {
      width: 18px;
      height: 18px;
    }
  }

  // Section Spacing
  section:not(.custom-spacing) {
    padding: 120px 0;

    @media screen and (max-width: $breakpoint-xlg) {
      padding: 105px 0;
    }
    @media screen and (max-width: $breakpoint-lg) {
      padding: 90px 0;
    }
    @media screen and (max-width: $breakpoint-md) {
      padding: 75px 0;
    }
    @media screen and (max-width: $breakpoint-sm) {
      padding: 60px 0;
    }
  }

  // Heading area and inner element styling
  .heading-area {
    h6 {
      @extend .urbanist-caption-24;
      color: $primary-orange;
      margin-bottom: 40px;

      @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 30px;
      }
    }
    h1 {
      @extend .heading-blue;
    }
  }

  // Swiper Slider Styling
  .swiper-container {
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          height: auto;
        }
      }
      .swiper-pagination {
        bottom: 0;

        @include flex-center;
        justify-content: center;
        gap: 8px;

        .swiper-pagination-bullet {
          margin: 0;
          width: 8px;
          height: 8px;
          border-radius: 50%;

          background-color: $neutral-6;

          &.swiper-pagination-bullet-active {
            background-color: $primary-blue;
          }
        }
      }
    }
  }
}
