// Common Utilities
@mixin remove-after-before {
  &::before,
  &::after {
    display: none;
  }
}

// Flex
@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  align-items: start;
}
@mixin flex-end {
  display: flex;
  align-items: end;
}
@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-wrap-gap($gap) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
}
@mixin flex-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}
@mixin flex-center-wrap {
  @include flex-center;
  flex-wrap: wrap;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-column-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Grid
@mixin grid-layout($columns, $gap, $minWidth, $maxWidth) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  grid-auto-rows: minmax($minWidth, $maxWidth);
}

// Side margin auto
@mixin auto-margin-side {
  margin-left: auto;
  margin-right: auto;
}
@mixin auto-margin-side-width($width, $widthDesk, $widthMob) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (max-width: $breakpoint-xlg) {
    width: $widthDesk;
  }

  @media screen and (max-width: $breakpoint-xsm) {
    width: $widthMob;
  }
}

// Text ellipse
@mixin line-elpsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
@mixin overlay {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Typography mixin
@mixin typography($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

// Container
@mixin container {
  @include auto-margin-side-width(
    calc(1400px + 60px),
    calc(1279px + 60px),
    calc(300px + 60px)
  );
}

// Class based Spacing
$spacing: (
  "xs": 4px,
  "sm": 8px,
  "md": 16px,
  "lg": 24px,
  "xlg": 32px,
);

@mixin generate-spacing-classes($prefix, $property) {
  @each $key, $value in $spacing {
    .#{$prefix}-#{$key} {
      #{$property}: $value;
    }
    .#{$prefix}t-#{$key} {
      #{$property}-top: $value;
    }
    .#{$prefix}b-#{$key} {
      #{$property}-bottom: $value;
    }
    .#{$prefix}x-#{$key} {
      #{$property}-left: $value;
      #{$property}-right: $value;
    }
    .#{$prefix}y-#{$key} {
      #{$property}-top: $value;
      #{$property}-bottom: $value;
    }
  }
}