// Font Families
// Primary Font
@font-face {
  font-family: $primary-font;
  src: url("../fonts/Rufina-Regular.woff2") format("woff2");
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}
// Secondary Font
@font-face {
  font-family: $secondary-font;
  src: url("../fonts/Urbanist-Italic.woff2") format("woff2");
  font-weight: $regular;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: $secondary-font;
  src: url("../fonts/Urbanist-SemiBoldItalic.woff2") format("woff2");
  font-weight: $semi-bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: $secondary-font;
  src: url("../fonts/Urbanist-SemiBold.woff2") format("woff2");
  font-weight: $semi-bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $secondary-font;
  src: url("../fonts/Urbanist-Regular.woff2") format("woff2");
  font-weight: $regular;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: $secondary-font;

  font-size: 16px;
  font-weight: $regular;
  line-height: 24px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  button {
    margin: 0;

    a {
      @include typography(inherit, inherit);
      color: inherit;
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $white;
    font-family: $primary-font;
    font-weight: $regular;

    strong,
    span {
      color: $orange;
      font-weight: inherit;
    }

    &.heading-blue {
      color: rgba($primary-blue, 0.4);

      strong,
      span {
        color: $primary-blue;
        font-weight: inherit;
      }
    }
  }
  h5,
  h6 {
    color: $white;
    font-family: $secondary-font;
    font-weight: $semi-bold;

    strong,
    span {
      color: $orange;
      font-weight: inherit;
    }

    &.blue-text {
      color: rgba($primary-blue, 0.4);

      strong,
      span {
        color: $primary-blue;
        font-weight: inherit;
      }
    }
  }

  a,
  p,
  li {
    font-family: $secondary-font;
    font-weight: $regular;
  }
  input,
  textarea,
  label,
  button {
    font-family: $secondary-font;
    font-weight: $regular;
  }
  input[type="submit"],
  button {
    text-decoration: none;
  }

  a,
  button {
    cursor: pointer;
  }

  // Typography for headings
  h1 {
    @include typography(74px, 64px);

    // @media screen and (max-width: $breakpoint-lg) {
    //   @include typography(74px, 64px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(74px, 64px);
    // }
    @media screen and (max-width: $breakpoint-sm) {
      @include typography(30px, 37.05px);
    }
    // @media screen and (max-width: $breakpoint-xsm) {
    //   @include typography(30px, 37.05px);
    // }
  }

  h2 {
    @include typography(62px, 64px);

    // @media screen and (max-width: $breakpoint-lg) {
    //   @include typography(62px, 64px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(62px, 64px);
    // }
    @media screen and (max-width: $breakpoint-sm) {
      @include typography(62px, 64px);
    }
    // @media screen and (max-width: $breakpoint-xsm) {
    //   @include typography(62px, 64px);
    // }
  }

  h3 {
    @include typography(56px, 64px);

    // @media screen and (max-width: $breakpoint-lg) {
    //   @include typography(56px, 64px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(56px, 64px);
    // }
    @media screen and (max-width: $breakpoint-sm) {
      @include typography(56px, 64px);
    }
    // @media screen and (max-width: $breakpoint-xsm) {
    //   @include typography(56px, 64px);
    // }
  }

  h4 {
    @include typography(46px, 54px);

    // @media screen and (max-width: $breakpoint-lg) {
    //   @include typography(46px, 54px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(46px, 54px);
    // }
    @media screen and (max-width: $breakpoint-sm) {
      @include typography(46px, 54px);
    }
    // @media screen and (max-width: $breakpoint-xsm) {
    //   @include typography(46px, 54px);
    // }
  }

  h5 {
    @include typography(38px, 46px);

    // @media screen and (max-width: $breakpoint-lg) {
    //  @include typography(38px, 46px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //  @include typography(38px, 46px);
    // }
    // @media screen and (max-width: $breakpoint-sm) {
    //  @include typography(38px, 46px);
    // }
    // @media screen and (max-width: $breakpoint-xsm) {
    //  @include typography(38px, 46px);
    // }
  }

  h6 {
    @include typography(30px, 38px);

    // @media screen and (max-width: $breakpoint-lg) {
    //   @include typography(30px, 38px);
    // }
    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(30px, 38px);
    // }
    @media screen and (max-width: $breakpoint-sm) {
      @include typography(30px, 38px);
    }
  }

  // Typography for paragraphs and list items
  p,
  li,
  input,
  textarea,
  select {
    @include typography(16px, 24px);

    // @media screen and (max-width: $breakpoint-md) {
    //   @include typography(16px, 24px);
    // }
    // @media screen and (max-width: $breakpoint-sm) {
    //   @include typography(16px, 24px);
    // }
  }

  input[type="submit"],
  button {
    @include typography(16px, 19px);
    text-align: center;
  }

  // Class based typography
  // Classes with rufina fonts
  .rufina {
    &-regular {
      &-88 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(88px, 64px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(38px, 46px);
        }
      }
      &-74 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(74px, 64px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(74px, 64px);
        // }
      }
      &-62 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(62px, 64px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(62px, 64px);
        // }
      }
      &-56 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(56px, 64px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(56px, 64px);
        // }
      }
      &-46 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(46px, 54px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(46px, 54px);
        // }
      }
      &-38 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(38px, 46px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(38px, 46px);
        // }
      }
      &-30 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(30px, 38px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(24px, 32px);
        }
      }
      &-24 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(24px, 32px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(18px, 28px);
        }
      }
      &-18 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(18px, 28px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(18px, 28px);
        // }
      }
      &-14 {
        font-family: $primary-font;
        font-weight: $regular;
        @include typography(14px, 24px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(14px, 24px);
        // }
      }
    }
  }

  // Classes with rufina fonts
  .urbanist {
    // Regular weight variation
    &-regular {
      &-88 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(88px, 105.6px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(38px, 44px);
        }
      }
      &-74 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(74px, 88.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(74px, 88.8px);
        // }
      }
      &-62 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(62px, 74.4px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(62px, 74.4px);
        // }
      }
      &-54 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(54px, 64.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(54px, 64.8px);
        // }
      }
      &-46 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(46px, 55.2px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(46px, 55.2px);
        // }
      }
      &-38 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(38px, 45.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(38px, 45.6px);
        // }
      }
      &-30 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(30px, 36px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(24px, 28.8px);
        }
      }
      &-24 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(24px, 28.8px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(18px, 21.6px);
        }
      }
      &-18 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(18px, 21.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(18px, 21.6px);
        // }
      }
      &-16 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(16px, 19.2px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(16px, 19.2px);
        // }
      }
      &-14 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(14px, 16.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(14px, 16.8px);
        // }
      }
      &-12 {
        font-family: $secondary-font;
        font-weight: $regular;
        @include typography(14px, 14.4px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(14px, 14.4px);
        // }
      }
    }

    // Semi Bold weight variation
    &-semibold {
      &-88 {
        font-weight: $semi-bold;
        @include typography(88px, 105.6px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(38px, 44px);
        }
      }
      &-74 {
        font-weight: $semi-bold;
        @include typography(74px, 88.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(74px, 88.8px);
        // }
      }
      &-62 {
        font-weight: $semi-bold;
        @include typography(62px, 74.4px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(62px, 74.4px);
        // }
      }
      &-54 {
        font-weight: $semi-bold;
        @include typography(54px, 64.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(54px, 64.8px);
        // }
      }
      &-46 {
        font-weight: $semi-bold;
        @include typography(46px, 55.2px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(46px, 55.2px);
        // }
      }
      &-38 {
        font-weight: $semi-bold;
        @include typography(38px, 45.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(38px, 45.6px);
        // }
      }
      &-30 {
        font-weight: $semi-bold;
        @include typography(30px, 36px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(24px, 28.8px);
        }
      }
      &-24 {
        font-weight: $semi-bold;
        @include typography(24px, 28.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(24px, 28.8px);
        // }
      }
      &-18 {
        font-weight: $semi-bold;
        @include typography(18px, 21.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(18px, 21.6px);
        // }
      }
      &-16 {
        font-weight: $semi-bold;
        @include typography(16px, 19.2px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(16px, 19.2px);
        // }
      }
      &-14 {
        font-weight: $semi-bold;
        @include typography(14px, 16.8px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(14px, 16.8px);
        // }
      }
      &-12 {
        font-weight: $semi-bold;
        @include typography(14px, 14.4px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(14px, 14.4px);
        // }
      }
      &-8 {
        font-weight: $semi-bold;
        @include typography(8px, 9.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(8px, 9.6px);
        // }
      }
    }

    &-caption {
      &-24 {
        font-weight: $semi-bold;
        @include typography(24px, 28.8px);

        @media screen and (max-width: $breakpoint-sm) {
          @include typography(18px, 21.6px);
        }
      }
      &-18 {
        font-weight: $semi-bold;
        @include typography(18px, 21.6px);

        // @media screen and (max-width: $breakpoint-sm) {
        //   @include typography(18px, 21.6px);
        // }
      }
    }
  }

  .heading-blue {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgba($primary-blue, 0.4);

      strong,
      span {
        color: $primary-blue;
        font-weight: inherit;
      }
    }
  }
}
