body {
  section.hero-section {
    min-height: 100vh;

    @include flex-column;
    justify-content: center;

    background-color: $blue;
    background-image: url("../media/blob-patterns/blurred-blob-left-orange-right-white-pattern.webp"),
      url("../media/blob-patterns/blurred-blob-right-orange-left-white-pattern.webp");
    background-position: top 262px left -222px, top 120px right -224px;
    background-size: 740px auto, 812px auto;
    background-repeat: no-repeat;
    padding: 220px 0 120px;
    animation: moveHeroBackgroundPattern 2000ms infinite alternate;

    @media screen and (max-width: $breakpoint-xlg) {
      padding: 205px 0 105px;
    }
    @media screen and (max-width: $breakpoint-lg) {
      padding: 190px 0 90px;
    }
    @media screen and (max-width: $breakpoint-md) {
      padding: 159px 0 75px;
    }
    @media screen and (max-width: $breakpoint-sm) {
      padding: 135px 0 60px;

      background-image: url("../media/blob-patterns/blob-rounded-blue4-mob-pattern.webp"),
        url("../media/blob-patterns/blob-rounded-orange-mob-pattern.webp");
      background-position: top 206px left -45px, top 95px right -65px;
      background-size: 240px;

      animation: moveHeroBackgroundPatternMobile 4000ms infinite alternate;
    }

    .hero-section-inner-wrapper {
      @include flex-column;
      justify-content: center;
      row-gap: 150px;

      @media screen and (max-width: $breakpoint-sm) {
        row-gap: 90px;
      }

      .hero-content {
        @include flex-column;
        row-gap: 40px;

        @media screen and (max-width: $breakpoint-sm) {
          row-gap: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $white;
        }
        h1 {
          @include typography(88px, 108.68px);

          @media screen and (max-width: $breakpoint-sm) {
            @include typography(38px, 46.93px);
            max-width: 245px;
          }
        }
        p {
          @extend .urbanist-regular-24;
          color: $neutral-5;
        }
      }
    }
  }
}
