body {
  .features-list {
    row-gap: 80px;
    column-gap: 40px;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 1199px) {
      row-gap: 60px;
      column-gap: 30px;
    }

    .feature-list-itm {
      @include flex-column;
      row-gap: 30px;

      @media screen and (min-width: 768px) {
        justify-content: space-between;
      }

      .feature-title {
        @include flex-column;

        span,
        strong {
          color: $white;
        }
      }

      .content-wrap {
        position: relative;
        @include flex-column;
        gap: 30px;
        border-radius: $border-radius-lg;

        img.feature-thumbnail {
          aspect-ratio: 320/400;
          object-fit: cover;
          object-position: center;
          border-radius: inherit;
        }

        .hovered-content {
          @include flex-column;
          justify-content: center;
          gap: 30px;
          border-radius: inherit;

          @media screen and (min-width: 768px) {
            display: none;
            opacity: 0;
            visibility: hidden;
            padding: 32px;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            right: 0;
            bottom: auto;
            left: 0;
            background-color: rgba($blue, 0.8);
            transition: $transition-slow;
          }
        }
      }

      &:hover {
        img.feature-thumbnail {
          opacity: 0.5;
        }
        .content-wrap {
          .hovered-content {
            display: flex;
            opacity: 1;
            visibility: visible;
            width: 100%;
            height: 100%;
            bottom: 0;

            .feature-desc {
              color: $neutral-4;
            }
          }
        }
      }
    }

    .swiper {
      @media screen and (max-width: $breakpoint-sm) {
        margin: 0 -30px;
        padding-left: 30px;
      }
      
      .swiper-wrapper {
        .swiper-slide {
          @media screen and (max-width: $breakpoint-sm) {
            max-width: 100%;
            width: 280px;
          }
        }
      }
    }
  }
}
