body {
  .tabination-slider {
    @include flex-start;
    justify-content: space-between;
    padding: 48px;
    box-shadow: $shadow-blue-disabled;
    border-radius: $border-radius-xlg;
    background: $grad-faded-white;

    @media screen and (max-width: $breakpoint-sm) {
      padding: 32px;
      border-radius: $border-radius-md;
      margin-bottom: 81px;
    }

    .tabs-wrap {
      @media screen and (min-width: 768px) {
        width: 320px;
        max-width: 30%;
      }
      @media screen and (max-width: $breakpoint-sm) {
        display: none;
      }

      .nav-tab-listing {
        .nav-tab-itm {
          transition: $transition;
          position: relative;
          border-bottom: 1px solid $neutral-3;

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          &::after {
            content: "";
            width: 0;
            height: 1px;

            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $blue;
          }

          &.active {
            &::after {
              content: "";
              width: 100%;
              right: 0;
              background-color: $blue;
              transition: 15000ms width ease;
            }
          }

          a {
            @include flex-center;
            gap: 16px;
            padding: 24px 16px;
            background-color: transparent;
            transition: $transition;
            border-radius: $border-radius-sm;

            .tab-icon {
              width: 24px;
              height: 24px;
              object-fit: contain;
              object-position: center;
            }
          }

          &.active,
          &:hover {
            border-color: transparent;

            a {
              background-color: $neutral-2;
            }
          }
        }
      }
    }
    .content-wrap {
      @media screen and (min-width: 768px) {
        max-width: calc(100% - 30%);
        padding-left: 48px;
      }
      @media screen and (max-width: $breakpoint-sm) {
        width: 100%;
      }

      .tab-content {
        @include flex-column;
        gap: 24px;

        @media screen and (max-width: $breakpoint-sm) {
          gap: 32px;
        }

        .content-title {
          @extend .text-blue;
          @extend .urbanist-regular-30;
          font-weight: $regular;

          @media screen and (min-width: 768px) {
            display: none;
          }
        }
        .content-desc {
          @extend .urbanist-regular-24;
          @extend .text-blue;

          @media screen and (max-width: $breakpoint-sm) {
            font-size: 16px;
            line-height: 19.2px;
          }
        }
      }

      .swiper-container {
        &.main-slider {
          .swiper {
            @media screen and (max-width: $breakpoint-sm) {
              position: unset;
            }

            .swiper-wrapper {
              .swiper-slide {
                background-color: $white;
              }
            }
            .swiper-pagination {
              @media screen and (min-width: 768px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
